# Nuxt dev/build outputs
.nuxt
.nitro
.cache

# ❌ DO NOT ignore .output if you want to deploy static build via git
# .output   <-- REMOVE or comment this

# If you want to ignore only server build (optional)
.output/server

# Node dependencies
node_modules

# Logs
logs
*.log

# Build fallback (older Nuxt)
dist

# Misc
.DS_Store
.fleet
.idea

# Env files
.env
.env.*
!.env.example